/*
-------------------------------------------
File: 'Blueball FreeStacks' wrapperbgrepeat_y.css Style Sheet
Created: 23, May, 2011
Last Modified: 23, May, 2011
Author: Charlie Lockhart, Blueball Design
www.blueballdesign.com
Copyright 2010-2011 Charlie Lockhart/Blueball Design USA
All Rights Reserved
-------------------------------------------
*/


#pagewrapper {
	background-repeat: repeat-y;
}
