/*
-------------------------------------------
File: 'Blueball FreeStacks' breadcrumb_right.css Style Sheet
Created: 22, October, 2010
Last Modified: 22, October, 2010
Author: Charlie Lockhart, Blueball Design
www.blueballdesign.com
Copyright 2010 Charlie Lockhart/Blueball Design USA
All Rights Reserved
-------------------------------------------
*/


#pagewrapper #breadcrumbcontainer {
	text-align: right;
}




