/*
-------------------------------------------
File: 'Blueball FreeStacks' shadow40.css Style Sheet
Created: 2, November, 2010
Last Modified: 3, January, 2011
Author: Charlie Lockhart, Blueball Design
www.blueballdesign.com
Copyright 2010 Charlie Lockhart/Blueball Design USA
All Rights Reserved
-------------------------------------------
*/


#pagewrapper {
	-moz-box-shadow: 0 2px 5px rgba(0,0,0,.40);
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,.40);
	box-shadow: 0 2px 5px rgba(0,0,0,.40);
}





