/*
-------------------------------------------
File: 'Blueball FreeStacks' widthvariable.css Style Sheet
Created: 11, October, 2010
Last Modified: 3, January, 2011
Author: Charlie Lockhart, Blueball Design
www.blueballdesign.com
Copyright 2010 Charlie Lockhart/Blueball Design USA
All Rights Reserved
-------------------------------------------
*/

#pagecontainer {
	width: auto;
	margin: 0px auto;
	overflow:  visible;
}

#pagewrapper {
	width: auto;
	margin: 0px auto;
}



