/*
-------------------------------------------
File: 'Blueball FreeStacks' width500.css Style Sheet
Created: 24, May, 2011
Last Modified: 09, June, 2011
Author: Charlie Lockhart, Blueball Design
www.blueballdesign.com
Copyright 2010-2011 Charlie Lockhart/Blueball Design USA
All Rights Reserved
-------------------------------------------
*/

#pagecontainer {
	width: 500px;
	margin: 0px auto;
	overflow:  visible;
}

#pagewrapper {
	width: 500px;
	margin: 0px auto;
}



