/*
-------------------------------------------
File: 'Blueball FreeStacks' footer_center.css Style Sheet
Created: 14, October, 2010
Last Modified: 14, October, 2010
Author: Charlie Lockhart, Blueball Design
www.blueballdesign.com
Copyright 2010 Charlie Lockhart/Blueball Design USA
All Rights Reserved
-------------------------------------------
*/


#pagewrapper #footer {
	text-align: center;
}



