/*
-------------------------------------------
File: 'Blueball FreeStacks' pagewrapper_transparent.css Style Sheet
Created: 8, December, 2010
Last Modified: 8, December, 2010
Author: Charlie Lockhart, Blueball Design
www.blueballdesign.com
Copyright 2010 Charlie Lockhart/Blueball Design USA
All Rights Reserved
-------------------------------------------
*/

#pagewrapper {
	background: transparent;
}



