/*
-------------------------------------------
File: 'Blueball FreeStacks' wrapperbgimg03.css Style Sheet
Created: 24, May, 2011
Last Modified: 24, May, 2011
Author: Charlie Lockhart, Blueball Design
www.blueballdesign.com
Copyright 2010-2011 Charlie Lockhart/Blueball Design USA
All Rights Reserved
-------------------------------------------
*/


#pagewrapper {
	background-image: url(../../images/wrapperbg/wrapper_bg03.jpg);
}
